fastapi==0.115.0
uvicorn[standard]==0.30.6
websockets==13.1
aiokafka==0.11.0
confluent-kafka==2.10.0
fastavro==1.11.1
paho-mqtt==1.6.1
httpx==0.28.1
python-dotenv==1.1.0
pydantic==2.9.0
attrs==24.2.0
